
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Abel{
    font-family: "Abel", sans-serif;
}
.Poiret {
  font-family: "Poiret One", sans-serif;
}

.rounded-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right {
}
.grayscale1 {
  filter: grayscale(0);
}

.btn-effect {
  position: relative;
  z-index: 10;
}
.btn-effect-1 {
  position: relative;
  z-index: 10;
}

.btn-effect span:nth-child(1) {
  position: absolute;
  top: -2rem;
  height: 2rem;
  width: 94%;
  background-color: white;
}
.btn-effect span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  height: 100%;
  width: 93%;
  background-color: #0e0b0e;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.btn-effect span:nth-child(2) {
  position: absolute;
  bottom: -2rem;
  height: 2rem;
  width: 94%;
  background-color: white;
}
.btn-effect span:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  height: 100%;
  width: 93%;
  background-color: #0e0b0e;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
